.container {
  max-width: 1200px;
  margin: 0 auto;
}

.main-content {
  display: flex;
  justify-content: space-between;
  gap: 200px;
}

.left-section,
.right-section {
  width: 45%;
}

.RandomRecipes {
  margin: 10px 0 10px;
}

.blur {
  -webkit-filter: blur(5px);
  filter: blur(2px);
}

::v-deep .blur .recipe-preview {
  pointer-events: none;
  cursor: default;
}
