.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
}

.RandomRecipes {
  margin: 10px 0 10px;
}

.blur {
  -webkit-filter: blur(5px);
  filter: blur(2px);
}

::v-deep .blur .recipe-preview {
  pointer-events: none;
  cursor: default;
}

.title {
  text-align: center;
  font-size: 42px;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.main-content {
  display: flex;
  justify-content: space-between;
}

.section {
  flex-basis: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mid-section {
  width: 100%; /* Fixed width for consistency */
  margin: 0 auto; /* Center the mid-section */
}

.left-section {
  width: 45%; /* Fixed width for consistency */
}

.right-section {
  width: 45%; /* Fixed width for consistency */
  position: relative;
}

.blur {
  filter: blur(4px);
  pointer-events: none;
}

.recipe-preview-list {
  width: 100%; /* Ensure the list takes up the full width of its container */
  margin-bottom: 30px;
}

button {
  display: block;
  width: 100%;
  padding: 10px 20px;
  font-size: 18px;
  text-align: center;
  background-color: #ff7f00;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e65c00;
}
